@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');


:root {
    // Colors
    //================
    --primary-color: #f9ce05;
    --primary-text-color: #4a4a4a;
    --primary-link-color: #{lighten(#4a4a4a, 10%)};
    --primary-title-color: #363636;
    --contrast-text-color: #fff;

    --dark-color: #000;

    --borders-color: #e4e4e4;
    --borders-color-rgb: 228, 228, 228;
    --icons-color: #c4c4c4;

    --success-color: 0, 184, 148;
    --danger-color: 255, 118, 117;

    // Texts
    //================
    --font-size: 16px;
    --primary-font-family: 'Montserrat', sans-serif;

    // Header
    //================
    --header-height: 60px;

    // Sizes
    //================
    --max-content-width: 1200px;
    --responsive-content-size: 90%;
}

// Link underline animation style
//================
.link-underline-animation {
    background: var(--primary-color);

    transition: left .3s ease-in-out,
    right .3s ease-in-out;
}

.text-right {
    text-align: right;
}
